body {
  margin: 0;
  padding: 0;
  background-color: rgb(255, 235, 119);
}

header {
  text-align: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.project-buttons {
  align-self: center;
  display: flex;
  gap: 1rem;
}

.project-buttons > button {
  
  background-color: rgb(250, 219, 46, .40);
  border-radius: 20px;
  border-width: .5px;
  height: 8rem;
  width: 8rem;
  font-size: 22px;
}

#content {
  display: grid;
  padding: 4rem;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
}

.projects {
  border: solid salmon;
  border-radius: 10px;

}